<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Davidova_webovka</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Davidova_webovka.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a class="navbar-brand modrytext" asp-area="" asp-controller="Home" asp-action="Index"><img class="img-resized" src="images/MOARCH.jpg" alt="logo" /> BIM . CAD . PROJEKCE . ARCHITEKTURA</a>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4 text-md-right">
                    <div class="btn-group" role="group" aria-label="Výběr kandidáta">
                        <a class="btn bg-custom2 btn-margin1 text-white" asp-area="" asp-controller="Home" asp-action="Index">SLUŽBY</a>
                        <a class="btn bg-custom2 btn-margin2 text-white" asp-area="" asp-controller="Home" asp-action="Kontakt">KONTAKT</a>
                        <a class="btn bg-custom2 btn-margin3 text-white" asp-area="" asp-controller="Home" asp-action="Poptavka">NEZÁVAZNÁ POPTÁVKA</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="line1">
                        David Šmíd
                    </div>
                    <div class="line2">
                        Pobřežní 161
                    </div>
                    <div class="line2">
                        357 03 Svatava
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="line1">
                        IČ: 03526551
                    </div>
                    <div class="line2">
                        Podnikatel je zapsán v živnostenském rejstříku.
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
