@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Nabízené služby</h1>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Projekce</h4>
                    <p class="card-text">Karta vložená v responzivním gridu. Zkuste si zmenšit velikost okna a zalomí se.</p>
                    <a href="#" class="btn btn-primary">Další informace</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Dozory a inspekce nemovitostí</h4>
                    <p class="card-text">Karta vložená v responzivním gridu. Zkuste si zmenšit velikost okna a zalomí se.</p>
                    <a href="#" class="btn btn-primary">Další informace</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Softvarové nástroje pro projekci</h4>
                    <p class="card-text">Karta vložená v responzivním gridu. Zkuste si zmenšit velikost okna a zalomí se.</p>
                    <a href="#" class="btn btn-primary">Připravujeme</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card bg-primary text-white mt-4">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="card-title text-center">Pro své klienty jsem zajistil více než</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h4 class="card-title">Text vlevo</h4>
                    <p class="card-text">První blok textu.</p>
                </div>
                <div class="col-sm-4">
                    <h4 class="card-title text-center">Text uprostřed</h4>
                    <p class="card-text">Druhý blok textu.</p>
                </div>
                <div class="col-sm-4">
                    <h4 class="card-title text-right">Text vpravo</h4>
                    <p class="card-text">Třetí blok textu.</p>
                </div>
            </div>
        </div>
    </div>

</div>

